*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  background-color: lightblue;
  font-size: 16px;
  line-height: 1.6;
  background: url(../assets/accounting-background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 1%;
}

.main-container {
  width: 60%;
  margin: 10vh auto;
  background: linear-gradient(to bottom right, rgba(23, 95, 101, 0.6), rgba(10, 65, 201, 0.6) );
  background: white;
  /* border-radius: 10px; */
  padding: 25px;
  text-align: center;
}

h1{
  margin-bottom: 10px;
}

#form {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

input, select {
  border-radius: 5px;
  padding: 7px 10px;
  outline: none;
  border: 1px solid grey;
}
button {
  padding: 5px 25px;
  border-radius: 5px;
  outline: none;
  border: 0;
  padding: 7px 20px;
  border: 1px solid grey;
}
.error-message {
  color: red;
  text-align: left;
  padding: 10px 0  0 10px;

}

.transaction-info {
  
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px
}

.transaction-info  .flex {
  flex-basis: 49.5%;
  border: 1px solid grey;
}
.transaction-info .title {
  border-bottom: 1px solid grey;
}
ul {
  list-style: none;
}

ul li {
  padding: 5px;
  font-size: 18px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: flex-end;
}

span{
  width: 70%;
  text-align: left;
} 

.balance {
  margin-top: 30px;
  border: 1px solid grey;
}
